{% extends 'base/base.html' %}

{% block body %}
  <div class="container">
    <section class="featured-blogs">
      <h2>Featured Blogs</h2>
      <div class="featured-posts">
        {% for blog in featured_blogs %}
          {% include "includes/feature.html" %}
        {% endfor %}
      </div>
    </section>
    <section class="recent-blogs">
      <h2>Recent Blogs</h2>
      {% for blog in recent_blogs %}
        {% include "includes/article.html" %}
      {% endfor %}
    </section>
  </div>
{% endblock %}
